body {
  background-color: azure;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 950px;
}

header {
  display: block;
  background: linear-gradient(rgb(126, 143, 221), rgb(229, 228, 236));
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px black;
}

h1 {
  font-size: 1.9rem;
}

.list1 {
  margin-bottom: 5rem;
}

.seconda {
  margin-left: 8.3rem;
  margin-top: -1.3rem;
}

.image{
  border-radius: 10% 10% 10% 10%;
  box-shadow: 2px 2px 21px black;
  position: relative;
  float: right;
  width: 12rem;
  height: 13rem;
}

footer {
  display: block;
  align-items: center;
  background: linear-gradient(rgb(126, 143, 221), rgb(229, 228, 236));
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px black;
}