body {
  background-color: azure;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

header {
  display: block;
  display: grid;
  grid-template-columns: 110px auto;
  align-items: center;
}