/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav ul li a {padding: .6rem 1rem;}

    section div.weather{
        font-size: 1rem;
    }

    .containergallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: .1rem;
        padding: 0;
        background-color: #1F213D;
    }

} /*end large */