@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    max-width: 900px;
    margin: auto;
    padding: auto;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 100%;
    gap: 1rem;
    margin: 5px;
}

h1{
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 10px #1f213d;
}

h1, h2, p{
    text-align: center;
}

h2, p{
    color: #e1f1ff;
    font-family: 'Alegreya', serif;
}

h2{
    padding: 0;
    margin: .5rem auto;
}

section{
    display: block;
    background: #1f213d;
    border: 1px solid #e1f1ff;
    min-height: 350px;
    border-radius: 1rem;
    margin: .5rem auto;
    padding: 2.5rem;
    box-shadow: 10px 10px 12px #1f213d;
    max-width: 100%;
}

section img{
    display: block;
    width: 200px;
    height: 250px;
    border: 1px solid #e1f1ff;
    margin: auto;
    border-radius: .5rem;
    box-shadow: 1px 1px 3px #f52b66;
}

p{
    padding: 5px;
    margin: 0 auto;
}

footer{
    text-align: center;
    margin: auto;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}