/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    body{
        max-width: 90%;
    }

    header img{
        width: 15%;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
    }
   
    nav button {display: none;}

    nav ul.hide {
        display: block;
    }

    nav ul {margin: 0;}

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        padding: .8rem 1rem;
    }

    ul.slider li h3{
        position: absolute;
        padding-right: 25rem;
        left: 1rem;
        top: 19.5rem;
        color: #fefefe;
    }

    .sectionbusiness{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0 3.5rem 0 3.5rem;
    }

    .formjoin{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 3rem;
    }

    .formjoin h2{
        text-align: center;
    }

    .formjoin a{
        text-align: center;
        font-size: 2rem;
    }

    .purposeandgoal{
        margin: 0 3rem 0 3rem;
    }

    .festivals{
        margin: 0 3.5rem 0 3.5rem;
    }

    .weather{
        margin: .5rem 3rem 0 3rem;
    }

    .forecas-days{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .forecasting{
        margin: .5rem 3rem 0 3rem;
    }

    .contact-information{
        margin: .5rem 3rem 0 3rem;        
    }

    .contact-icons{
        display: flex;
        justify-content: space-around;        
    }

    .contact-icons a img{
        width: 50%;
        border-radius: 50%;
    }

    .contact-icons a img:hover{
        width: 100%;
        box-shadow: 0px 0px 5px #000000;
        transition: 1s;
    }

    .history{
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: left;
    }

    .history div img{
        width: 400px;
    }

    .history div img:hover{
       transform: scale(1.3);
       transition: 5s;
    }

    .geography{
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: left;
    }

    .geography div img{
        width: 400px;
    }

    .geography div img:hover{
       transform: scale(1.3);
       transition: 5s;
    }
} /*end medium */