/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    body{
        max-width: 90%;
    }

    header img{
        width: 15%;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
    }
   
    nav button {display: none;}

    nav ul.hide {
        display: block;
    }

    nav ul {margin: 0;}

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        padding: .8rem 1rem;
    }

    .sectionbusiness{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0 3.5rem 0 3.5rem;
    }

    .formjoin{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 3rem;
    }

    .formjoin h2{
        text-align: center;
    }

    .formjoin a{
        text-align: center;
        font-size: 2rem;
    }

    .purposeandgoal{
        margin: 0 3rem 0 3rem;
    }

    .festivals{
        margin: 0 3.5rem 0 3.5rem;
    }

} /*end medium */