body{
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

/*Typefaces*/

h1, h2, h3, h4, h5, legend, label, select, option, textarea {
    font-family: 'Spartan', sans-serif;
}

p, nav, a, li, input, abbr{
    font-family: 'Amiri', serif;
}

/*Organizing Header*/

header{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: row;
    background-color: #4b465c;
    border-radius: .5rem;
}

header img{
    width: 20%;
}

header h1{
    margin: 0 0 0 1rem;
    padding: 0;
    font-size: 1rem;
    color: #fefefe;
}

header p{
    margin: 0 0 0 1rem;
    padding: 0;
    font-size: .9rem;
    color: #fefefe;
}

/*Organizing Nav*/

nav button {
    margin: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fefefe;
    border-radius: .5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #4b465c;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: #fefefe;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.2rem;
}

nav ul li.active a{
    background-color: #e9f8ff;
    color: #4b465c;
}

nav ul li a:hover {
    background-color: #e9f8ff;
    color: #000000;
    text-shadow: #678da4;
    transition: 1s;
}

nav ul.hide {
    display: none;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Slider */

.container-slider{
    margin: auto;
    width: 90%;
    padding: 1rem;
}

div.container-slider ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

div.container-slider li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 100%;
    height: 25rem;
}

ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider li img{
    width: 100%;
    height: 24rem;
    object-fit: cover;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #4b465c;
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

ul.slider li div{
    position: absolute;
    width: 50%;
    border-radius: .5rem;
    opacity: .7;
    padding: 2rem;
    left: 0;
    top: 20rem;
    background-color: #000000;
}

ul.slider li h3{
    position: absolute;
    padding-right: 6rem;
    left: 1rem;
    top: 19rem;
    color: #fefefe;
}

.menu{
    text-align: center;
    margin: 1.5rem;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    background-color: #4b465c;
    padding: .4rem;
    width: .1rem;
    height: .1rem;
    font-size: .1rem;
    border-radius: 100%;
}

/*Organizing the form div*/
.formjoin{
    margin: 1rem 0 1rem 0;
    box-shadow: 1px 1px 5px #4b465c;
    border-radius: .5rem;
    background-image: url(https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1549&q=80);
}

.formjoin h2{
    padding: .5rem;
    margin: 0;
    font-size: 1.1rem;
}

.formjoin a{
    padding: .5rem;
    text-decoration: none;
    color: #678da4;
    font-size: 1.5rem;
}

/*Organizing local businesses*/

.sectionbusiness{
    display: flex;
    flex-direction: column;
}

div.business1{
    text-align: center;
    padding: 1rem;
    margin: .1rem;
    border: 1px solid #000000;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #000000;
}

div.business1 img{
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #4b465c;
}

div.business1 p a{
    text-decoration: none;
    color: #678da4;
    font-size: 1.1rem;
    text-shadow: 0px 0px 5px #000;
}

/*Organizing Purpose and Goals*/

.purposeandgoal{
    padding: .5rem;
    border: 1px solid #000;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #000;
}

.purposeandgoal ul li{
    list-style: square;
}

/*Organizing Upcoming events*/

.upcomingevents{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    max-width: 100%;
    gap: 1rem;
    margin: 5px;
}

section.festivals h2{
    text-align: center;
    font-size: 1.1rem;
}

.eventual{
    border: 1px solid #000000;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #000000;
    margin-top: .5rem;
}

.par1, .linea, .slinea, .tlinea{
    margin: 0;
    padding: .2rem;
    text-align: center;
}

.par1 {
    padding-top: 0.5rem;
    text-align: center;
}

/*Styling Current Weather*/

.weather{
    border: 1px solid #000000;
    margin-top: .5rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #000000;
}

.weather h3{
    text-align: center;
}

.weather p{
    text-align: center;
}

/*Stylizing Forecasting Days*/

.forecasting{
    margin-top: .5rem;
    border: 1px solid #000000;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #000000;
}

.forecasting h3{
    text-align: center;
}

.forecas-days{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forecas-days h4{
    margin: 1rem 0 0 0;
    text-align: center;
    font-size: 1rem;
}

div.forecas-days img{
    margin: 1rem;
    padding: 0;
}

.forecas-days h5{
    margin: 0;
    text-align: center;
    font-size: 1rem;
    border-bottom: 5px solid #678da4;
    border-radius: .5rem;

}

.forecasting a{
    display: flex;
    justify-content: center;
    color: #4b465c;
    margin: 1rem 0 1rem 0;
    text-decoration: none;
}

.forecasting a:hover{
    margin: 1rem 9rem 1rem 9rem;
    background-color: #e9f8ff;
    color: #000000;
    text-shadow: #678da4;
    border-radius: .5rem;
    transition: 1s;
}

/*Stylizing Contact Information*/

.contact-information{
    margin-top: .5rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #000000;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-information h3{
    text-align: center;
}

.contact-information ul{
    text-align: left;
    margin: 0 3rem 1rem 3rem;
}

.contact-icons{
    text-align: center;
}

.contact-icons a img{
    width: 10%;
    box-shadow: 0px 0px 5px #4b465c;
}

/*Stylizing Footer*/

footer{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0 0 0;
    padding: 0;
    flex-direction: column;
    background-color: #4b465c;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #000000;
}

.footer1{
    color:#e9f8ff;
    text-align: center;
}

.footer2{
    color: #e9f8ff;
    margin: 0 0 .5rem 0;
    padding: 0;
}

footer p a{
    color: #fefefe;
    text-decoration: none;
}

footer p a:hover{
    font-size: 1.5rem;
    transition: 1s;
}

/*Stylizing sections and divs on city*/

.infography{
    border: 1px solid #000000;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #000000;
    padding: .5rem;
}

hr{
    width: 50%;
}

.history{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.history div img{
    width: 100%;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #000000;
}

.geography{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.geography div img{
    width: 100%;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #000000;
}

.infography a{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    color: #4b465c;
    margin: 1rem 0 1rem 0;
    text-decoration: none;
}

.infography a:hover{
    margin: 1rem 9rem 1rem 9rem;
    background-color: #e9f8ff;
    color: #000000;
    text-shadow: #678da4;
    border-radius: .5rem;
    transition: 1s;
}

.nextm{
    text-align: center;
}

/*Stylizing Form*/

.ftitle{
    font-size: 2rem;
    text-align: center;
    color: #000000;
}

.ft2{
    color: #000000;
    text-align: justify;
    margin: 0 .5rem .5rem .5rem;
}

.title1{
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}

abbr{
    text-decoration: none;
}

fieldset{
    border: 1px solid #000000;
    border-radius: 1rem;
    padding: 1rem;
    margin: .5rem;
    background-image: url(https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1575&q=80);
}

form label.data1{
    display: block;
    margin: 1rem 0 1rem;
    padding: .5rem 0 .5rem;
    color: #000000;
    font-size: 1.5rem;
}

form label.data1 input, form label.data1 select{
    display: block;
    border-radius: .5rem;
    color: #1F213D;
    font-size: 1rem;
    border-radius: .5rem;
}

form label.data1 input:required{
    border-left: red solid .4rem;
}

form label.data1 input:required:valid{
    border-left: green solid .4rem;
}

form label.lradio{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #000000;
}

form input.sbutton{
    font-size: 1rem;
    color: #e9f8ff;
    margin: .5rem;
    border-radius: .5rem;
    padding: .5rem;
    background-color: #1F213D;
}

label textarea.xtxtarea{
    width: 100%;
    height: 10rem;
    border: 1px solid #000000;
    border-radius: .5rem;
    color: #000000;
}