@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media only screen and (min-width: 60em) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media only screen and (min-width: 37.5em) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

body {
    display: block;
    background-color: rgb(247, 248, 248);
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, 'Oswald', 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
}

ul {
    grid-column: 1/2;
    grid-row: 2/2;
}

.section1 {
    grid-column: 1/1;
    grid-row: 3/3;
    border-radius: 0.5rem;
    box-shadow: 2px 1px 12px black;
}

.section1>h2,
h3,
img,
p {
    text-align: center;
}

.section2 {
    grid-column: 2/2;
    grid-row: 3/3;
    border-radius: 0.5rem;
    box-shadow: 2px 1px 12px black;
}

.section2>h2,
h3,
img,
p {
    text-align: center;
}

.section3 {
    grid-column: 3/3;
    grid-row: 3/3;
    border-radius: 0.5rem;
    box-shadow: 2px 1px 12px black;
}

.section3>h2,
h3,
img,
p {
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    display: block;
    background: linear-gradient(rgb(221, 196, 126), rgb(235, 235, 236));
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 1px 12px black;
}

img {
    display: block;
    margin: auto;
    width: 22rem;
    height: 51rem;
}

footer {
    display: block;
    align-items: center;
    background: linear-gradient(rgb(221, 196, 126), rgb(235, 235, 236));
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px black;
}