/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav ul li a {padding: .6rem 1rem;}

    #primaryNav{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    section div.weather{
        left: 65%;
        font-size: 1rem;
        bottom: 13rem;
    }

    .dat{
        max-width: 1125px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        text-align: center;
        margin: 1rem auto;
        background-color: #E1F1FF;
    }

    .info{
        display: grid;
        grid-template-columns: 1fr;
        border: 1px solid #F52B66;
        padding: 10rem;
    }

    .info:nth-child(odd) img{
        grid-row: 2;
    }

    .dat .imgt{
        align-content: center;
    }

    div.containergallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: .5rem;
        justify-items: center;
        align-items: center;
        font-family: serif;
    }

    section.eventual {
        position: absolute;
        bottom: 12rem;
        left: -15rem;
        display: flex;
        flex-direction: column;
        background-color:rgba(31, 33, 61, 0.5);
        color: #E1F1FF;
        text-align: center;
        border-radius: .5rem;
        box-shadow: 1px 1px 10px #ffb103;
        margin: .5rem 20rem .5rem 20rem;
        padding: 1rem;
        border: none;
    }
} /*end large */