/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    nav button {display: none;}

    nav ul.hide {
        display: block;
    }

    nav ul {margin-left: 0;}

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        padding: .8rem 1rem;
    }

    section div.weather{
        left: 50%;
        font-size: .7rem;}

    .dat{
        max-width: 800px;
        margin: auto;
        border: 1px solid #e1f1ff;
        background-color: #1F213D;
    }

    .info{
        display: flex;
        flex-direction: row;
    }

    .info:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .imgt{
        width: 100%; 
        border:1px solid #000080; 
        height: auto;
    }

    .para{
        margin: 1rem;
    }

    .ci{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 5px solid #1F213D;
        border-radius: 1rem 1rem 0 0;
    }

    .ci1{
        text-align: center;
    }

    .fc {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 100%;
        background-color: #1F213D;
        margin: 1rem;
        border-radius: .5rem;
    }

    div.containergallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: .5rem;
        justify-items: center;
        align-items: center;
        font-family: serif;
    }

} /*end medium */