/*@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/

body {
    background-color: #e1f1ff;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

header,
nav,
footer,
p, span {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alegreya', serif;
}

header {
    color: #E1F1FF;
    background-color: #1F213D;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header section h1,
p {
    margin: 0;
    padding: 0;
}

img.logo {
    width: 10%;
}

/*section picture.changing img {
    position: relative;
    text-align: center;
}*/

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #1F213D;
}

nav {
    background-color: #15A4FC;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #1F213D;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

nav ul li.active a {
    background-color: #F52B66;
    color: #E1F1FF;
}

nav ul li a:hover {
    background-color: #F52B66;
}

nav ul.hide {
    display: none;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*----- Controlling the main -----*/

.city{
    font-size: 2rem;
    text-align: center;
    color: #1F213D;
    text-shadow: -4px 3px 0 #FFB103;
}

/*----- Controlling the footer -----*/

footer {
    color: #E1F1FF;
    background-color: #1F213D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

footer p a {
    color: #FFB103;
}

/*weather home page*/

.dat{
    max-width: 100%;
    margin: auto;
    border: 1px solid #e1f1ff;
    background-color: #1F213D;
}

.info{
    display: grid;
    grid-template-columns: 1fr;
}
/*
.info:nth-child(odd) img{
    grid-column: 1;
    grid-row: 1;
}

.info:nth-child(odd) .para{
    grid-column: 1;
    grid-row: 1;
}*/

.dat .info{
    padding: .3rem;
    border: .2rem solid #e1f1ff;
    background-color: #1F213D;
    border-radius: 1rem;
}

.htitle{
    color: #e1f1ff;
    text-align: center;
}

.imgt{
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 1rem;
    box-shadow: 2px 2px 18px #E1F1FF;
}

.para{
    font-size: 1rem;
    background-color: #1F213D;
    color: #e1f1ff;
    text-align: center;
    margin: 1rem auto;
    padding: .1rem;
}

/*Contact Information*/

.ci{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 5px solid #1F213D;
    border-radius: 1rem 1rem 0 0;
}

iframe{
    border: 10px solid #1F213D;
    box-shadow: 10px 10px 18px #1F213D;
    border-radius: 1rem;
    padding: 1rem;
}

.ci1 h3{
    text-align: center;
    font-size: 1.5rem;
}

div.ci1 ul{
    padding-left: .5rem;
    padding-right: .5rem;
}

div.ci1 ul li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

div.ci1 img{
    padding: 1rem;
    margin: 0;
    width: 10%;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

div.contact img{
    width: 50%;
}

/*First picture below the navigator*/

div.imgPlace{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem 1rem 0 1rem;
}

div.imgPlace img{
    width: 100%;
    height: 300px;
    border-radius: .5rem;
    box-shadow: 10px 10px 18px #1F213D;
}

div.imgPlace{
    position: relative;
}

div.imgPlace div{
    position: relative;
    top: -100px;
    width: 100%;
}

div.into{
    background-color: rgba(25, 10, 92, 0.5);
    color: #E1F1FF;
}

div.into h3{
    margin-left: 2rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

div.into p{
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

/*Weather Site Text Overlay*/

section.positioning{
    position: relative;
    padding: 0;
    margin: 1%;
}

div.weather{
    position: absolute;
    background-color: rgba(31, 33, 61, 0.5);
    border-radius: .5rem;
    left: 20%;
    bottom: 25rem;
    padding: 1rem;
    padding-top: 0;
    box-shadow: 1px 1px 10px #FFB103;
    font-size: .5rem;
    color: #E1F1FF;
}

div.weather h3{
    font-size: 1rem;
    margin-left: 0;
}

div.weather p{
    font-size: 1rem;
    margin-left: 0;
}

section.eventual {
    background-color: #1F213D;
    color: #E1F1FF;
    text-align: center;
    border-radius: .5rem;
    border: .5rem solid #FFB103;
    margin: 1rem;
    padding: 1rem;
}

section.eventual p.par1{
    font-size: 1.5rem;
    margin: 1rem;
}

section div.linea{
    border: 1px solid #E1F1FF;
    margin: 1rem;
}
/*Form Code Styling*/

.ftitle {
    font-size: 3rem;
    text-align: center;
    color: #1F213D;
}

.ft2{
    color: #1F213D;
}

.ltitle{
    color: #1F213D;
    font-size: 1.5rem;
    font-weight: bold;
}

legend, label{
    font-family: 'Alegreya';
}

input{
    font-family: 'Roboto';
    font-size: 1rem;
}
select, option{
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: bold;
}

fieldset{
    border: 1px solid #1F213D;
    border-radius: 1rem;
    padding: 1rem;
    margin: .5rem;
    background-image: url(https://i.pinimg.com/originals/4e/a3/eb/4ea3eb5c50a255516f69b70f7fcb7ae7.jpg);
}

form label.ldata{
    display: block;
    margin: 1rem 0 1rem;
    padding: .5rem 0 .5rem;
    color: #1F213D;
    font-size: 1.5rem;
}

form label.ldata input, form label.ldata select{
    display: block;
    border-radius: .5rem;
    color: #1F213D;
    font-size: 1rem;
    border-radius: .5rem;
}

form select.sselect{
    padding: .5rem;
    color: #F52B66;
    border-radius: .5rem;
    border: 1px solid #1F213D;
}

form select.sselect option{
    font-size: 1rem;
}

form label.ldata input:required{
    border-left: #F52B66 solid .4rem;
}

form label.ldata input:required:valid{
    border-left: #FFB103 solid .4rem;
}

label textarea.xtxtarea{
    width: 100%;
    height: 10rem;
    border: 1px solid #1F213D;
    border-radius: .5rem;
    color: #1F213D;
    font-family: 'Roboto';
}

#fix{
    display: flex;
    align-items: center;
}

form label.lradio{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #1F213D;
}

form input.sbutton{
    font-size: 1rem;
    color: #E1F1FF;
    margin: .5rem;
    border-radius: .5rem;
    padding: .5rem;
    background-color: #1F213D;
}

/*CSS gallery*/

div.cont{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    justify-items: center;
    align-items: center;
    font-family: serif;
}

img[data-src]{
    filter: blur(.5rem)
}

figure img{
    filter: blur(0rem);
    transition: filter .5s;
    width: 100%;
    border-radius: .5rem;
    box-shadow: 1px 1px 10px #1F213D; 
}

img.imgt:hover{
    box-shadow: 1px 1px 10px #FFB103;
}

figcaption{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: .5rem;
}

/*Forecast Days*/

h3.fc0 {
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem;
    box-shadow: 1px 1px 8px #FFB103;
    padding: 1rem;
}

.fc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 25%;
    background-color: #1F213D;
    margin: 0 auto .5rem auto;
    border-radius: .5rem;
}

section.tab img{
    width: 100%;
    box-shadow: 1px 1px 8px #E1F1FF;
    border-radius: .5rem;
}

section.tab h2{
    margin: auto;
    text-align: center;
    color: #E1F1FF;
}

section.tab h3{
    margin: 0 0 .5rem 0;
    text-align: center;
    color: #E1F1FF;
}